@media screen and (max-width: 1200px) {
    #nav-section {
        display: none;
    }
    #hamburger-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


@media(max-width:1000px) {
    .blog-box-container{
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px 10px;

    }

    #home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: content-box;
    }

    .home-image-container img{
        max-width: 100%;
        height: auto;
        object-fit: cover;
        
    }

    .home-image-container{
        display: flex;
        justify-content: center;
        max-width: 100%;
        object-fit: cover;
        padding: 10vh;
        width: 70vw; 
    }

    *{
        padding: 0px;
        margin: 0px;
        box-sizing: content-box;
    }

    .Nwanza-pic{
        height: 15vh;
        width: 10vw;
    }

    .home-page-text{ 
        width: 80vw;
        padding: 4vh;
    }

}


@media(max-width:600px){
    .blog-box-container{
        grid-template-columns: 1fr;
    }

.blog-heading h3{
    font-size: 1.6rem;
    line-height: 1.6rem;
}
#home{
    display: flex;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content: center;
    box-sizing: content-box;
}
.home-image-container{
    padding: 1rem;
    width: 70vw;
    height: 100%;
    object-fit: cover;
    object-position: center;
    min-width: 30vh;

}

.home-image-container img{
    width: 100%;
    height: 100%;
    justify-content: center;
    object-fit: cover;
    object-position: center;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

.home-page-text {
    display: flex;
    flex-direction: column;
    width: 75vw;
    padding: 10vh 10vw;
    justify-content: center;
    color: rgb(51, 49, 49);
    text-align: justify;
}

.contact-list-container{
    display: flex;
    flex-direction: column;
    ;
}

.email-medium-container{
    margin-bottom: 25px;
}

.blog-story{
    padding-left: 7vw;
    padding-right: 7vw;
}

}
